@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
    url('./fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
    url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --content-font: 'Roboto', Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: var(--content-font);
  font-size: 16px;
  grid-template: 60px 90px 1fr / 300px 1fr;
}

.icon {
  height: 20px;
  width: 20px;
}

.white-icon {
  fill: white;
}

.large-icon {
  height: 40px;
  width: 40px;
}

.sidebar {
  background-color: #1992D4;
  grid-row: 1 / span 3;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 45px;
  padding: 15px;
  color: white;
  font-weight: bold;
}

.logo-area {
  font-size: 24px;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 5px;
}

.sidebar .part {
  display: grid;
  gap: 15px;
}

.sidebar .part div {
  padding: 0 10px;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 15px;
  align-items: center;
}

.header {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 90px;
  justify-content: space-between;
  padding: 0 35px;
}

.header .part {
  display: grid;
  align-items: center;
}

.header form {
  grid-template-columns: max-content 1fr;
  gap: 15px;
}

.header form input {
  outline: none;
  border: 0;
  background-color: lightgray;
  border-radius: 100px;
  height: 26px;
  padding-left: 10px;
}

.header .right {
  grid-template-columns: repeat(3, max-content);
  gap: 20px;
  font-weight: bold;
  margin-right: 15px;
}

.avatar {
  border-radius: 50%;
}

.header .right .avatar {
  height: 40px;
  width: 40px;
}

.welcome {
  background-color: white;
  padding: 0 35px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  font-weight: bold;
  box-shadow: 3px 3px 5px lightgray;
  position: relative;
}

.welcome .avatar {
  height: 60px;
  width: 60px;
  background-color: bisque;
}

.welcome .part {
  display: grid;
  align-items: center;
}

.welcome .left {
  grid-template-columns: max-content 1fr;
  gap: 15px;
}

.welcome .slogan p:first-child {
  font-size: 12px;
}

.welcome .slogan p:last-child {
  font-size: 20px;
}

.welcome .right {
  grid-template-columns: repeat(3, 90px);
  gap: 25px;
}

.welcome .right button {
  height: 35px;
  border: 0;
  background-color: #1992D4;
  border-radius: 120px;
  color: white;
  font-weight: inherit;
}

.main {
  background-color: #E2E8F0;
  display: grid;
  grid-template: 1fr 40px / 3fr 1fr;
  padding: 15px;
  gap: 15px;
}

p.title {
  font-weight: bold;
  font-size: 18px;
  margin-block: 10px;
}

.main .container {
  display: grid;
}

.main .projects {
  grid-row: 1 / span 1;
}

.main .projects .container {
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-auto-rows: max-content;
  gap: 25px 20px;
}

.main .projects .card {
  background-color: #F0B429;
  border-radius: 10px;
  padding-left: 10px;
  box-shadow: 3px 3px 5px lightgray;
}

.main .projects .content {
  background-color: white;
  height: 100%;
  border-radius: 0 10px 10px 0;
  padding: 25px 20px;
  display: grid;
  grid-template-rows: repeat(2,max-content);
  align-content: space-between;
}

.main .projects .description {
  margin-right: 25px;
}

.main .projects .description p:first-child {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 5px;
}

.main .projects .description p:last-child {
  color: #666666;
}

.main .projects .icons {
  margin-right: 10px;
  margin-top: 20px;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(3,max-content);
  gap: 30px;
}

.main .announcements .card {
  background-color: white;
  border-radius: 10px;
  padding: 15px 20px;
}

.main .announcements .card .content {
  padding: 15px 10px;
}

.main .announcements .card .content:not(:last-child) {
  border-bottom: 1px solid #bbbbbb;
}

.main .announcements .card .content p:first-child {
  font-weight: bold;
  margin-bottom: 3px;
}

.main .announcements .card .content p:last-child{
  font-size: 12px;
  height: max-content;
  overflow: hidden;
  color: #666666;
}